body{
    background-color: aqua;
}


.div1{
    background-color: yellow;
    width: 50%;
    height: 100px;
    min-width: 50%;
}
.div2{
    background-color: red;
    width: 75%;
    height: 200px;
    padding: 5px;
}
.div3{
    background-color: white;
    width: 50%;
    height: 300px;
    padding: 5px;
    min-width: 50%;
}